{block content}
<h1>Přihlášen</h1>
{$user->identity->name}
<hr>
----
<div style="width: 410px; margin: 0 auto">
    <a style="width: 200px" href="{plink Oddilovky:default}" class="waves-effect waves-light btn-large">Oddilovky</a>
    <a style="width: 200px" href="{plink Administrace:default}" class="waves-effect waves-light btn-large">Administrace</a>
</div>
