{block content}

<h1>Bod oddilovky</h1>
<div class="fixed-action-btn"><a style="float: right" href="{plink Oddilovky:read $bod->oddilovka_id}"><button class="btn waves-effect waves-light">zpet na oddilovku</button></a></div>
<h2>{$bod->name}</h2>
<table class="table">
    <tbody>
        <tr>
            <td><b>Autor: </b>{$bod->author}</td>
            <td><b>Vytvořeno </b>{$bod->vytvoreno}</td>
        </tr>

        <tr>
            <td colspan="2"><b>Popis: </b>{$bod->popis|noescape}</td>
        </tr>
    </tbody>
</table>
    <p>{$bod->text|noescape}
    <h2>Hlasy</h2>
    {foreach $komentareHlasy as $komentarHlas}
        <div class="row">
            <div class="col s2">
                {$komentarHlas->name}
                <br>
                {$komentarHlas->create}
            </div>
            <div class="col s10">
                {if $komentarHlas->canUpdate}
                    {form updateHlas-$komentarHlas->id}
                        <div class="input-field">
                            {input text class=>'materialize-textarea'}
                        </div><button class="btn waves-effect waves-light right" type="submit" name="action" style="position: relative; top: -56px;">Upravit
                        <i class="material-icons right">send</i>
                    </button>

                    {/form}
                {else}
                    {$komentarHlas->text|noescape}
                {/if}
            </div>
        </div>
    {/foreach}

{form hlasyForm}
    {if ($canCommentHlas)}
        <div class="input-field">
            {input hlas}{label hlas}
        </div>
        <div class="input-field">
            {input text class => "materialize-textarea"}{label text}
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Odeslat
            <i class="material-icons right">send</i>
        </button>
    {/if}
{/form}

<h2>Diskuze</h2>
    {foreach $komentareDiskuze as $komentarDiskuze}
        <div class="row">
            <div class="col s2" style="height: 100%">
                {$komentarDiskuze->name}
                <br>
                {$komentarDiskuze->time}
            </div>
            <div class="col s10">
                {$komentarDiskuze->text|noescape}
            </div>
        </div>
    {/foreach}
{if $canCommentDiskuze}
    {form diskuzeForm}
        <div class="input-field">
            {input text class => "materialize-textarea"}{label text}
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Odeslat
            <i class="material-icons right">send</i>
        </button>
    {/form}
{/if}

{/block}